<div class="modal-header">
    <h3 class="modal-title">Add Contact</h3>
</div>

<div class="modal-body">
	<form name="hitForm">
		<div class="row">
		    <div class="col-md-2">
		        <a href="#">
		            <img class="img-responsive" src="http://www.permanentmakeup-london.co.uk/images/diffeyebrows/alopecia-no-eyebrows.jpg" alt="">
		        </a>
		    </div>
		    <div class="col-md-10">
		    	<div class="form-group">
		    		<label>Name</label>
		    		<input class="form-control" ng-model="hit.name" required>
		    	</div>
		    	<div class="form-group">
		    		<label>Occupation</label>
		    		<input class="form-control" ng-model="hit.occupation" required>
		    	</div>
		        <table class="table">
		        	<tr>
				        <td class="col-md-5">
				        	<div class="form-group">
				        		<label>Email</label>
				        		<input class="form-control" ng-model="hit.email" required>
				        	</div>
				        </td>
				        <td class="col-md-5">
				        	<div class="form-group">
				        		<label>Phone</label>
				        		<input class="form-control" ng-model="hit.phone" required>
				        	</div>
				        </td>
				    </tr>
				    <tr>
				        <td>
				        	<div class="form-group">
				        		<label>Adress: </label>
				        		<input class="form-control" ng-model="hit.address" required>
				        	</div>
				        </td>
				        <td>
				        	<div class="form-group">
				        		<label>Relationship</label>
				        		<input class="form-control" ng-model="hit.relationship" required>
				        	</div>
				        </td>
				    </tr>
				</table>
		        <div class="form-group">
		        	<label>Description</label>
		        	<textarea class="form-control" ng-model="hit.description" required></textarea>
		        </div>
		    </div>
		</div>
	</form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="delete()" ng-if="hit._id">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="!hitForm.$valid">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
